<div class="header-style">
  <div>
    <a href="/">
      <img class="header-img" src="http://mcetv.fr/wp-content/uploads/2015/03/Simplon-recrute-sa-3%C3%A8me-promo-%C3%A0-Montreuil-e1426180721133.png" alt="#">
    </a>
  </div>
  <div class="">
    <ul>
      <li>Apprenants</li>
      <li>Projets</li>
    </ul>
  </div>
</div>
