h1 {
  text-align: center;
  color: black;
  font-size: 2em;
}

.btns {
  text-align: center;
}

.home-btn {
  padding: 5px;
  font-size: 1.5em;
  width: 300px;
  margin: auto;
  text-align: center;
  background-color: #222;
  border: black solid 1px;
  margin-top: 15px;
}

.home-btn > a {
  color: #9d9d9d;
}

.home-btn:hover {
  background-color: white;
  color: black;
}

.photo-promo {
  width: 100%;
  margin: auto;
}

.photo-promo img {
  width: 950px;
  box-shadow: 3px 3px 5px black;
}
