<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <section class="container" style="text-align:center">
      <div class="jumbotron">
        <p>Le projet a bien été supprimé</p>
        <a href="/users/<%= id %>/projects"><p>Retourner sur la liste des  projets</p></a>
      </div>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
