<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/project.css">
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <section class="container" style="text-align: center">
      <div class="jumbotron">
        Voici la liste des projets :
      </div>
      <ul class="list-group">
      <% projects.map((project) => { %>
          <a href="projects/<%= project.id %>" class="list-group-item">
            <li class="list-group-item-text">
              <%= project.name %>
              <%= project.githubrepo %>
            </li>
          </a>
      <% }) %>
    </ul>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
