<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <section class="container" style="text-align:center">
      <div class="jumbotron">
        <p>Aucun profil n'a été trouvé :(</p>
      </div>
    </section>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
