<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <div class="jumbotron" style="text-align: center">
      <p>Le compte a bien été mis à jour!</p>
      <p><a href="/users/<%= id %>">Voir le profil</a></p>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
